@model IEnumerable<CarsRental.Models.Car>
@{
    ViewBag.Title = "Cars";
}

<h2>Cars</h2>

<p>@Html.ActionLink("New Car", "New", "Cars",null, new { @class = "btn btn-primary" })</p>

<table class="table table-bordered table-hover">
    
    <thead>
    <tr>
        <th>Car</th>
        <th>Model</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var car in Model)
    {
        <tr>
            <td>@Html.ActionLink(car.Name, "Edit", "Cars", new { id = car.Id }, null)</td>
            <td>@car.CarBrand.Name</td>
        </tr>
    }
    </tbody>

</table>

